

<div style="margin: auto; text-align: center;">
    <h3 style="
    margin: auto;
    text-align: center;
    margin-top: 65px;
margin-bottom: 50px;">
        Your order is submitted
    </h3>


    <a class="btn btn-danger " asp-controller="Home" asp-action="Index">

        back to home
    </a>
</div>


